.navbar{
    width: 75%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: black;
}

.mainNavBar{
    text-decoration: none;
    font-size: 3em;
    color: white;
}

.mainNavBar:hover{
    opacity: 0.8;
}

.topNavBar{
    background-color: #005689;
    margin:auto;
    padding-left: 25px;
    padding-bottom: 2px;
}

.h1topNavBar{
    color: yellow;
    font-size: 4em;
    letter-spacing: 0.7px;
}

.h3topNavBar{
    color: white;
    font-size: 2em;
    letter-spacing: 0.7px;
    
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 31%;
}

.buttonOne{
    width: 200px;
    height: 30px;
    font-size: 20px;
    color:  #005689;;
    border-radius: 60pt;
    padding: 5px;
    border: none;
    background-color: yellow;
}

.buttonOne:hover{
    opacity: 0.8;
    color: #005689;
    transition: ease-in 0.6s;
}

.buttonOne:focus{
    outline: none;
}

.subnav{
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: black;
}

.subnav:hover{
    text-decoration: #ab1613;
    transition: ease-in 0.6s;
}

.politics{
    display: grid;
    grid-template-columns: auto 1fr auto /auto 1fr auto;
    grid-column-gap: 1em;
}

.box-1{
    background-color: #fef9f5;
    grid-column: 1/2;
    text-align: left;
}

.box-2{
    grid-column: 2/3;
    height: 965px;
    text-align: center;
    background-color: #ab1613;
}

.box-3{
    grid-column: 3/4;
    background-color: #fef9f5;
}

/* .imgFour{
    width: 250px;
    height: 150px;
}

.imgFour:hover{
    opacity: 0.8;
    transition: ease-in 0.6s;
}

.weinstein{
    display: flex;
    justify-content: center;
} */

.item-1{
    list-style: none;
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-row-gap: 1em;
    font-size: 1.5em;
}

.item-1-child-one{
    background-image: url(images/4000.jpg);
    background-repeat: no-repeat;
    background-size: 360px 200px;
    text-align: end;
}

.item-1-child-one:hover{
    opacity: 0.8;
    transition: ease-in 0.6s;
}

.item-1-child-two{
    background-color: #dcdcdc;
}

.item-1-child-three{
    background-color: #dcdcdc;

}

.children-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    list-style: none;
    text-align: center;
}

.h1-politic{
    color: #ffbac8;
}

.p-politic{
    color: white;
}

.anchor{
    text-decoration: none;
    color: black;
}

.anchor:hover{
    color: #ab1613;
    text-decoration: underline;
    transition: ease-in 0.6s;
}

.anchorOne{
    text-decoration: none;
    color: white
}

.anchorOne:hover{
    color: black;
    text-decoration: underline;
}

.imgOne:hover{
    opacity: 0.8;
    transition: ease-in 0.6s;
}

.imgTwo{
    width: 640px;
    height: 450px;
}

.imgTwo:hover{
    opacity: 0.8;
    transition: ease-in 0.6s;
}

.children-1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #ab1613;
}

.children-3{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #fef9f5;
}

.parent-list-1{
    display: grid;
    grid-template-rows: 200px auto 45%;
}

.list-1{
    background-color: #506991;
    list-style: none;
    font-size: 1.5em;
}

.list-1:hover{
    opacity: 0.8;
    transition: ease-in 0.6s;
}

.list-2{
    background-color: darkgoldenrod;
    list-style: none;
    font-size: 1.5em;
}

.list-2:hover{
    opacity: 0.8;
    transition: ease-in 0.6s;
}

.list-3{
    background-color: darksalmon;
    list-style: none;
}

.list-3:hover{
    opacity: 0.8;
    transition: ease-in 0.6s;
}

.children-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imgThree{
    width: 675px;
    height: 425px;
}

.imgThree:hover{
    opacity: 0.8;
    transition: ease-in 0.6s;
}

.trumpbernie{
    background-color: #fef9f5;
}

.boxThreediv{
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-row-gap: 1em;
}

.divchild-one{
    background-image: url(images/3039.jpg);
    background-repeat: no-repeat;
    background-size: 360px 200px;
    text-align: end;
}

.divchild-one:hover{
    background-color: #dcdcdc;
    opacity: 0.9;
    transition: ease-in 0.6s;
}

.divchild-two{
    background-image: url(images/5352.jpg);
    background-repeat: no-repeat;
    background-size: 360px 200px;
    text-align: end;
}

.divchild-two:hover{
    background-color: #dcdcdc;
    opacity: 0.9;
    transition: ease-in 0.6s;
}

.divchild-three{
    background-image: url(images/4592.jpg);
    background-repeat: no-repeat;
    background-size: 360px 200px;
    text-align: end;
}

.divchild-three:hover{
    background-color: #dcdcdc;
    opacity: 0.9;
    transition: ease-in 0.6s;
}

.anchordiv{
    text-decoration: none;
    color: white
}

.anchordiv:hover{
    color: #ab1613;
    text-decoration: underline;
    transition: ease-in 0.5s;
}
